/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style cho header và navigation */
header {
  margin-bottom: 36px;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100em;
  margin-left: 36px;
  margin-right: 36px;
  padding: 0 20px;
}

.header-logo {
  height: 7em;
  margin: -58px;
  margin-top: -68px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: 48px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  font-size: 18px;
}

.nav-links a:hover {
  color: #ff6f61;
}

.user-actions a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  padding: 8px 20px;
  border: 1px solid #ff6f61;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.user-actions a:hover {
  background-color: #ff6f61;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}
@media (max-width: 1288px) {
  .welcome {
    display: none;
  }
}
/* Đối với màn hình nhỏ hơn 768px */
@media (max-width: 960px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 38px;
    flex-direction: column;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .user-actions {
    margin-top: 20px;
  }
}

/* Đối với màn hình nhỏ hơn 480px */
@media (max-width: 480px) {
  .logo {
    font-size: 20px;
  }

  .nav-links a {
    font-size: 16px;
  }

  .user-actions a {
    padding: 6px 15px;
  }
}

// Footer
footer {
  height: 84px;
  margin-top: 36px;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

footer > .container {
  max-width: 100%;
  margin: 0 0 0 36px;
  padding: 0 20px;
}

.footer-logo {
  padding-top: 46px;
  height: 8em;
  margin: -58px;
  margin-top: -68px;
}

.footer-links ul,
.footer-social ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-social {
  margin-top: 10px;
  display: flex;
  justify-content: right;
}
.footer-links a,
.footer-social a {
  font-size: 18px;
  margin: 14px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-logo img {
    margin-bottom: 20px;
  }

  .footer-links ul,
  .footer-social ul {
    text-align: center;
  }

  .footer-links li,
  .footer-social li {
    margin-bottom: 15px;
  }
}
.footer-links a:hover,
.footer-social a:hover {
  color: #ff5733; /* Màu sắc mới khi hover qua */
  transition: color 0.3s ease; /* Hiệu ứng chuyển đổi màu sắc */
}
.footer-social i {
  font-size: 24px;
  transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi */
}

.footer-social i:hover {
  transform: scale(1.2); /* Phóng to 1.2 lần khi hover qua */
}

#form {
  box-shadow: 0 0px 24px #333;
  height: 750px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: calc(100vw - 532px);
}
.welcome {
  position: absolute;
  top: 18rem;
  max-width: 55rem;
}
.welcome-decs {
  font-family: "Parisienne", cursive;
  position: absolute;
  top: 36px;
  right: calc(55rem - 640px);
  color: #fa8564;
  font-weight: 700;
  font-size: 38px;
}
.welcome-logo {
  max-width: 55rem;
}
.form__title {
  text-align: center;
}
#form-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 24px;
}
.form__group {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
.form__group.success input {
  border-color: #05cfff;
}
.form__group.success span {
  color: #05cfff;
  position: relative;
  top: -26px;
  left: 268px;
  width: 80px;
}

.form__group.invalid input {
  border-color: red;
}
.form__group.invalid span {
  color: red;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px;
  border-radius: 5px;
  margin-top: 6px;
  border-color: #b9b8b9;
  border-width: thin;
  border-block-start-width: 6px;
  position: relative;
}
span {
  padding: 2px;
  font-size: 12px;
}

.form__check {
  display: flex;
  padding-top: 24px;
}
input[type="checkbox"] {
  margin-right: 6px;
  margin-top: 2px;
  color: #65ecd3cf;
  cursor: pointer;
}

input[type="submit"] {
  padding: 16px 0;
  border-radius: 5px;
  margin-top: 28px;
  background-color: #796767;
  color: #fff;
  border-style: none;
  cursor: pointer;
}
.form__footer {
  text-align: center;
  padding: 16px 0;
}
.form__footer a,
.form__footer {
  color: #7f8082;
}
input[type="submit"]:hover {
  background-color: #382f2f;
}
