@charset "UTF-8";
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

/* Style cho header và navigation */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  min-height: 12vh;
  margin-bottom: 36px;
  background-color: #333;
  color: #fff;
  padding: 24px 0;
  text-align: center; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100em;
  margin-left: 36px;
  margin-right: 36px;
  padding: 0 20px; }

.header-logo {
  position: relative;
  height: 7em;
  margin: -54px -58px -58px -58px; }

.nav-list {
  position: absolute;
  left: 28vw;
  top: 24px; }

.input-search {
  position: relative;
  width: 44vw;
  margin: 0px 12px 0 24px;
  height: 6vh;
  border-radius: 24px;
  border-style: double;
  border-block-color: #ff6e619f;
  padding: 18px; }

.input-icon {
  position: absolute;
  top: 6px;
  color: white;
  font-size: 26px; }

.input-icon:hover {
  color: #ff6e619f; }

#search__icon {
  font-size: 24px !important;
  position: relative !important;
  top: 2px !important;
  transition: transform 0.5s ease-in; }

#search__icon:hover {
  cursor: pointer;
  color: #ff5733;
  transform: scale(1.2); }

.user-actions {
  margin: 10px 0 0 0; }

.user-actions > a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  padding: 8px 20px;
  border: 1px solid #ff6f61;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease; }

.user-actions > a:hover {
  background-color: #ff6f61;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease; }

#NameOFUser {
  display: none; }

#NameOfUser {
  text-decoration: none;
  color: #ff8264;
  margin: 0 12px;
  opacity: 0.8; }

#NameOfUser:hover {
  opacity: 1; }

.dropdown {
  position: relative;
  display: flex; }

#iconDropDown {
  position: relative; }

#iconDropDown:hover {
  cursor: pointer;
  color: #ff8065; }

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 28px;
  font-size: 14px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out; }

.dropdown-content a {
  color: #333333b6;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease-in-out; }

.dropdown-content a:nth-child(2),
.dropdown-content a:nth-child(3),
.dropdown-content a:nth-child(4) {
  border-top: 1px solid #ab13132e; }

.dropdown-content a:hover {
  transition: ease-in;
  color: white;
  background-color: #fe8164; }

.show {
  display: block;
  opacity: 1; }

@media (max-width: 1288px) {
  .welcome {
    display: none; } }

/* Đối với màn hình nhỏ hơn 1080px */
/* Đối với màn hình nhỏ hơn 480px */
@media (max-width: 988px) {
  .logo {
    font-size: 20px; }
  .nav-list {
    position: absolute;
    left: 22px;
    top: 86px; }
  .input-search {
    width: 56vw; }
  nav {
    flex-direction: column;
    align-items: flex-start; }
  .user-actions {
    margin: 140px 0 0 200px; } }

footer {
  position: relative;
  top: 20vh;
  width: 100%;
  height: 84px;
  margin-top: 36px;
  background-color: #333;
  color: #fff;
  padding: 20px 0; }

footer > .container {
  max-width: 100%;
  margin: 0 0 0 36px;
  padding: 0 20px; }

.footer-logo {
  padding-top: 46px;
  height: 8em;
  margin: -58px;
  margin-top: -68px; }

.footer-links ul,
.footer-social ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0; }

.footer-social {
  margin-top: 10px;
  display: flex;
  justify-content: right; }

.footer-links a,
.footer-social a {
  font-size: 18px;
  margin: 14px;
  color: #fff;
  text-decoration: none; }

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start; }
  .footer-logo img {
    margin-bottom: 20px; }
  .footer-links ul,
  .footer-social ul {
    text-align: center; }
  .footer-links li,
  .footer-social li {
    margin-bottom: 15px; } }

.footer-links a:hover,
.footer-social a:hover {
  color: #ff5733;
  /* Màu sắc mới khi hover qua */
  transition: color 0.3s ease;
  /* Hiệu ứng chuyển đổi màu sắc */ }

.footer-social i {
  font-size: 24px;
  transition: transform 0.3s ease;
  /* Hiệu ứng chuyển đổi */ }

.footer-social i:hover {
  transform: scale(1.2);
  /* Phóng to 1.2 lần khi hover qua */ }
