<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>TravelSpot Login</title>
  </head>
  <body>
    <div class="login-container">
      <form class="login-form" action="/home">
        <div class="img-container">
          <img src="/img/logo-removebg.png" alt="TravelSpot Logo" />
        </div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button class="loginbtn" type="submit">Login</button>

      </form>
    </div>
  </body>
</html>