<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="welcome">
      <div class="welcome-decs"> WELCOME TO</div>
      <img class="welcome-logo" src="/img/logo-removebg.png" />
    </div>
    <div id="form">
      <h1 class="form__title">Đăng ký với chúng tôi</h1>
      <form action="/register" id="form-1" method="post">
        <div class="form__group">
          <label for="firstname">Họ của bạn</label>
          <input type="text" id="firstname" placeholder="Eg. Nguyễn" required />
          <span class="form__msg"></span>
        </div>
        <div class="form__group">
          <label for="lastname">Tên của bạn</label>
          <input type="text" id="lastname" placeholder="Eg. Duy" required />
          <span class="form__msg"></span>
        </div>
        <div class="form__group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Eg. duyb2012071@student.ctu.vn"
            required
          />
          <span class="form__msg"></span>
        </div>
        <div class="form__group">
          <label for="password">Mật khẩu</label>
          <input
            type="password"
            id="password"
            placeholder="Nhập mật khẩu"
            required
          />
          <span class="form__msg"></span>
        </div>
        <div class="form__group">
          <label for="password-again">Nhập lại mật khẩu</label>
          <input
            type="password"
            id="password-again"
            placeholder="Nhập lại mật khẩu"
            required
          />
          <span class="form__msg"></span>
        </div>
        <div class="form__check">
          <input type="checkbox" id="checkbox" />
          <label for="checkbox">Nhận thông báo về các tin tức và sự kiện mới
            nhất của chúng tôi. (có thể hủy đăng ký bất cứ lúc nào.)
          </label>
        </div>
        <input type="submit" value="SIGN UP" />
        <p class="form__footer">Bằng cách đăng ký bạn đồng ý với các
          <a href="">điều khoản sử dụng</a>
          của chúng tôi</p>
      </form>
    </div>
    <script src="/js/validation.js"></script>

  </body>
</html>