<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Information</title>
    <link rel="stylesheet" href="/css/updateInfor.css" />

  </head>
  <body>
    {{! render Name of User }}
    {{#if NameOfUser}}
      <script>
        const Nameofuser = document.getElementById("NameOFUser");
        Nameofuser.style.display = "block"; Nameofuser.innerText = '{{NameOfUser}}'
      </script>
    {{/if}}
    <h1>Update Information</h1>
  </body>
</html>