<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Spot</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/css/app.css" />

  </head>
  <body>

    {{! Navigation Bar }}
    <header>
      <nav>
        <a href="/newfeed" id="logoLink"><img
            class="header-logo"
            src="/img/logo-removebg.png"
            alt="logo"
          /></a>
        <div class="nav-list">
          <input
            id="search__box"
            type="text"
            class="input-search"
            placeholder="Địa điểm bạn cần tìm kiếm..."
          />
          <i id="search__icon" class="fas fa-search search__icon"></i>
        </div>
        <div class="user-actions">
          <a id="login" href="/login">Đăng nhập</a>
          <a id="register" href="/register">Đăng ký</a>
          <div class="dropdown">
            <a href="/newfeed/individualPost" id="NameOFUser"></a>
            <a
              id="iconDropDown"
              onmousemove="toggleDropdown()"
              class="dropbtn"
            ><i class="fa-solid fa-caret-down"></i></a>
            <div
              id="myDropdown"
              onmouseleave="hideDropdown()"
              class="dropdown-content"
            >
              <a class="dropdownList noAD" href="/post">Đăng bài</a>
              <a class="dropdownList noAD" href="/newfeed/individualPost">Quản
                lý bài post</a>
              <a class="dropdownList noAD" href="/newfeed/updateInfor">Cập nhật
                thông tin</a>
              <a class="dropdownList" id="statUser">Thống Kê người dùng</a>
              <a class="dropdownList" id="statPost">Thống Kê Bài viết</a>
              <a class="dropdownList noAD" href="/login/logout">Đăng xuất</a>

            </div>
          </div>
        </div>
      </nav>
    </header>
    <script src="/js/app.js"></script>
    <script src="/js/search.js"></script>

    <div class="space" style="min-height: 120px;"></div>

    {{{body}}}

    <Footer>
      <div class="container">
        <img class="footer-logo" src="/img/logo-removebg.png" alt="logo" />
        <div class="footer-social">
          <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </Footer>

  </body>
</html>